<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
<style>
input
{
	width: 30px;
}
</style>
<div data-ng-app="">

<h2>Calculator</h2>
<br>
<br>
Addition:
<input type="number" ng-model="ad1"> + <input type="number" ng-model="ad2"> = {{ad1 + ad2}}
<br>
<br>
Subtraction:
<input type="number" ng-model="sub1"> - <input type="number" ng-model="sub2"> = {{sub1 - sub2}}
<br>
<br>
Multiply:
<input type="number" ng-model="mult1"> * <input type="number" ng-model="mult2"> = {{mult1 * mult2}}
<br>
<br>
Divide:
<input type="number" ng-model="div1"> / <input type="number" ng-model="div2"> = {{div1 / div2}}

</div>

</body>
</html>
