<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<style>
input
{
	width: 30px;
}
</style>
<div data-ng-app="" ng-init="operations=['Addition', 'Subtraction', 'Multiplication', 'Division']">

<h2>Calculator</h2>
<br>
<br>
<p>This calculator can do:</p>
<ul>
    <li ng-repeat="x in operations">
      {{ x }}
    </li>
  </ul>
 
Addition:
<input type="number" ng-model="ad1"> + <input type="number" ng-model="ad2"> = {{ad1 + ad2}}
<br>
<br>
Subtraction:
<input type="number" ng-model="sub1"> - <input type="number" ng-model="sub2"> = {{sub1 - sub2}}
<br>
<br>
Multiply:
<input type="number" ng-model="mult1"> * <input type="number" ng-model="mult2"> = {{mult1 * mult2}}
<br>
<br>
Divide:
<input type="number" ng-model="div1"> / <input type="number" ng-model="div2"> = {{div1 / div2}}

</div>

</body>
</html>
